.visuallyhidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-btn() {
    display: block;
    width: 100%;
    padding: 17px 35px 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    background: none;
    border-radius: 70px;
    border: 2px solid;
}

.list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}
