.btn {
    display: inline-block;
    padding: 20px 45px 22px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #2aab6d;
    border: none;
    border-radius: 5px;
}
