.btn {
  display: inline-block;
  padding: 14px 35px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 70px;

    &--upload {
      min-width: 274px;
      color: #d22856;
      border-color: #d22856;

      @media (min-width: @tablet-width) {
        margin-top: 40px;
      }

      @media (min-width: @desktop-width) {
        margin-right: 32px;
      }
    }

    &--download {
      max-width: 274px;
      color: #fff;
      border: 3px solid #fff;

      @media (min-width: @tablet-width) {
        padding: 14px 45px 17px;
      }

      @media (min-width: @desktop-width) {
        font-size: 21px;
        padding: 14px 28px 17px;
      }
    }

    &--cancel {
      min-width: 274px;
      color: #e3e4e4;
      border-color: #dddfe0;


    }

    &--send {
      min-width: 280px;
      padding: 22px 45px 23px;
      color: #fff;
      text-transform: uppercase;
      background-color: #2aab6d;
      border: none;
      border-radius: 5px;

      @media (min-width: @tablet-width) {
        padding: 22px 57px 23px;
      }
    }

    &--popup {
      min-width: 280px;
      padding: 20px 45px 22px;
      color: #fff;
      text-transform: uppercase;
      background-color: #2aab6d;
      border: none;
      border-radius: 5px;
    }
  }
