.contacts {
    padding-top: 50px;
}

.contacts__desc {
    text-align: center;
}

.contacts__title {
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    line-height: 22px;
    font-weight: 300;
    color: #283645;
}

.contacts__items {
    .list-reset();
}

.contacts__item {
    margin-bottom: 30px;
}

.contacts__text,
.contacts__info {
    display: block;
}

.contacts__text {
    line-height: 22px;
    font-weight: 700;
    color: #283645;
}

.contacts__info {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    color: #d22856;
}
