.downloads {
    padding-top: 170px;
    padding-bottom: 30px;
    background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% -2%;
}

.downloads__title--hidden {
    .visuallyhidden();
}

.downloads__button {
    .main-btn();
    max-width: 274px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
    color: #fff;
    border: 3px solid #fff;
}

.downloads__icon {
    font-size: 0;
}

.downloads__text {
    padding-top: 100px;
    padding-left: 44px;
    padding-right: 44px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
