.downloads {
    padding-bottom: 30px;
}

.downloads__title--hidden {
    .visuallyhidden();
}

.downloads__img {
    margin-top: -285px;
}

.downloads__button {
    .main-btn();
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
    color: #fff;
    border: 3px solid #fff;
}

.downloads__icon {
    font-size: 0;
}

.downloads__text {
    padding-top: 100px;
    padding-left: 44px;
    padding-right: 44px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}