.downloads {
  position: relative;
  padding-top: 392px;
  padding-bottom: 18px;
  background-color: #1d2631;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 97px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 109px;
  }
}

.downloads__wrapper {
  .container();
}

.downloads__title {

  &--hidden {
    .visuallyhidden();
    }
}

.downloads__slogan {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    padding: 0 30px;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: @white;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
    font-size: 50px;
    line-height: 60px;
  }
}

.downloads__btn {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 27px 0 0;
  }
}

.downloads__icon {
  font-size: 0;
}

.downloads__text {
  margin: 0;
  padding-top: 78px;
  padding-left: 44px;
  padding-right: 44px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 107px;
    font-size: 18px;
    letter-spacing: -0.7px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 147px;
  }
}

.downloads__img {
  position: absolute;
  top: 109px;
  left: 0px;

  @media (min-width: @tablet-width) {
    top: 70px;
    left: 190px;
    min-width: 450px;
  }

  @media (min-width: @desktop-width) {
    top: 103px;
    left: 503px;
    min-width: 528px;
  }
}

.downloads__inner {
  padding: 31px 0px 13px;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin-left: 20px;
    padding-top: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
    padding-top: 112px;
  }
}
