.editor {
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.editor__btn {
  .visuallyhidden();
  font-size: 0;
}

.editor__range {
  min-width: 240px;

  &--hidden {
    .visuallyhidden();
  }
}
