.features {
    padding-top: 44px;
    padding-bottom: 480px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 107%;
    background-size: 276px auto;
}

.features__title--hidden {
    .visuallyhidden();
}

.features__slogan {
    font-family: "Open Sans light", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    color: #283645;
    padding-bottom: 80px;
}

.features__slogan span {
   padding-bottom: 30px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.features__list {
  list-style: none;
  margin: 0;
  margin-left: 35px;
  margin-right: 35px;
  background-color: #f2f2f2;
}

.features__item {
  padding-bottom: 40px;
  text-align: center;
}

.features__subtitle {
  font-family: "Open Sans bold", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.features__text {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
