.features {
    padding-top: 44px;
    padding-bottom: 480px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 107%;
    background-size: 276px auto;
}

.features__title--hidden {
    .visuallyhidden();
}

.features__slogan {
    padding-bottom: 80px;
    font-family: "Open Sans light", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    color: #283645;
}

.features__slogan span {
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.features__list {
    margin: 0px;
    margin-left: 35px;
    margin-right: 35px;
    list-style: none;
    background-color: #f2f2f2;
}

.features__item {
    padding-bottom: 40px;
    text-align: center;
}

.features__subtitle {
    color: #000;
}

.features__text {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #283645;
}
