.main-nav {
  background-color: #283645;
}

.main-nav__toggler {
  float: right;
}

.main-nav__list {
  .list-reset();

    &--close {
      display: none;
  }
}

.main-nav__item {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000001;
}

.main-nav__item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
