.main-nav {
  background-color: #283645;
}

.main-nav__toggler {
  float: right;
}

.main-nav__list {
  .list-reset();

    &--close {
      display: none;
  }
}

.main-nav__item {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000001;
}

.main-nav__item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @desktop-widths) {
    .main-nav {
      float: right;
      background-color: rgba(23, 31, 40, 0.3);
    }

    .main-nav__list {
      display: table;
      min-width: 645px;
      text-align: center;
    }

    .main-nav__item {
      display: table-cell;
    }

    .main-nav__item a {
      text-transform: capitalize;
      padding: 10px;
    }

    .main-nav__toggler {
      display: none;
    }
}
