.main-nav {
  position: relative;
  padding-top: 70px;
  background-color: #283645;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
  }

  @media (min-width: @desktop-width) {
    float: right;
    padding-top: 31px;
    background-color: rgba(23, 31, 40, 0.3);
  }
}

.main-nav__toggler {
  .visuallyhidden();
  float: right;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  .list-reset();

    &--close {
      display: none;
  }

  @media (min-width: @desktop-width) {
    display: table;
    min-width: 645px;
    text-align: center;
  }
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000001;

  @media (min-width: @desktop-width) {
    display: table-cell;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-nav__item a {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    text-transform: capitalize;
    padding: 10px;
  }
}
