.page-main {
  .container();
  text-align: center;
}

.page-main__title {
  padding: 90px 75px 80px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% -2%;

  @media (min-width: @tablet-width) {
    padding: 70px 10px 139px;
    font-size: 50px;
    line-height: 60px;
  }
}

.page-main__text {
  padding: 50px 40px 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  @media (min-width: @tablet-width) {
    padding: 75px 90px 57px;
    font-size: 18px;
    line-height: 30px;
  }
}
