.page-header {
    .clearfix();
    min-height: 455px;
    background-color: #1d2631;
    background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 56% 25%;
    background-size: 100%;
    border-bottom: 1px solid #000001;
}

.page-header__title--hidden {
    .visuallyhidden();
}

.page-header__logo {
    float: left;
}
