.page-main {
    text-align: center;
}

.page-main__title {
    margin-top: -80px;
    margin-right: 75px;
    margin-left: 75px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.page-main__text {
    padding: 50px 40px 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    background-color: #fff;
}
