.page-header {
  .clearfix();

  @media (min-width: @desktop-width) {
    .container();
  }
}

.page-header__title--hidden {
  .visuallyhidden();
}

.page-header__logo {
  float: left;
  padding: 20px 18px;

  @media (min-width: @tablet-width) {
    width: 150px;
    height: 43px;
    padding: 25px 20px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 23px 6px 40px;
  }
}
