.reviews {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 100px;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    padding-bottom: 115px;
  }

    @media (min-width: @desktop-width) {
    padding-top: 165px;
    padding-bottom: 115px;
  }
}

.reviews__inner {
  .container();
}

.reviews__title--hidden,
.reviews__item--hidden {
  .visuallyhidden();
}

.reviews__list {
  .list-reset();
}

.reviews__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px;
  }
}

.reviews__item-name {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__item-quote {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }

    @media (min-width: @desktop-width) {
    margin-bottom: 13px;
  }
}

.reviews__item-sign {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: -1;
    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
