.tariffs {
    overflow: hidden;
    max-width: 320px;
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #f2f2f2;
}

.tariffs__title {

  &--hidden {
    .visuallyhidden();
  }
}

.tariffs__table {
    position: relative;
    right: 172%;
    border-collapse: collapse;
}
