.upload {
  padding-top: 25px;
}

.upload__title--hidden {
  .visuallyhidden();
}

.upload__slogan {
  display: inline-block;
  text-align: center;
  max-width: 200px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  @media (min-width: @tablet-width) {
    max-width: 450px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 30px;
  }
}

.upload__form {
  padding: 20px;
  padding-bottom: 40px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 15px;
  }
}

.upload__container {

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.upload__img {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.upload__btn {
  margin-bottom: 10px;
}
